
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fa-download{font-size:x-small}
    label{font-size:15px;}
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-title">
            <div class="title_left">
                <h3>Support Documents</h3>
            </div>
        </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Voidcon Technical Documents</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/Void_Pro_Drawings.pdf" target="_blank" download="VoidPro Drawings"><i class="fa fa-download small"></i></a>
                            <label>VoidPro Drawings</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/VoidPro_50.pdf" target="_blank" download="VoidPro_50"><i class="fa fa-download small"></i></a>
                            <label>Design Tables VP50</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/VoidPro_115.pdf" target="_blank" download="VoidPro_115"><i class="fa fa-download small"></i></a>
                            <label>Design Tables VP115</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/VoidPro_200.pdf" target="_blank" download="VoidPro_200"><i class="fa fa-download small"></i></a>
                            <label>Design Tables VP200</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/Fire_Design_Steps.pdf" target="_blank" download="Fire Design Steps"><i class="fa fa-download small"></i></a>
                            <label>Fire Design Steps</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/Voidcon_Fire_Resistance_Assessment.pdf" target="_blank" download="Voidcon Fire Resistance Assessment"><i class="fa fa-download small"></i></a>
                            <label>Fire Design Research by Dr. R Walls</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Research Documents for Skripsie</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/Void_Pro_Drawings.pdf" target="_blank" download="Download Image"><i class="fa fa-download small"></i></a>
                            <label>VoidPro Drawings</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/VoidPro_50.pdf" target="_blank" download="Download Image"><i class="fa fa-download small"></i></a>
                            <label>Design Tables VP50</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/VoidPro_115.pdf" target="_blank" download="Download Image"><i class="fa fa-download small"></i></a>
                            <label>Design Tables VP115</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/VoidPro_200.pdf" target="_blank" download="Download Image"><i class="fa fa-download small"></i></a>
                            <label>Design Tables VP200</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/Fire_Design_Steps.pdf" target="_blank" download="Download Image"><i class="fa fa-download small"></i></a>
                            <label>Fire Design Steps</label>
                        </div>
                        <div class="text-left">
                            <a class="btn btn-success" href="~/r/Documents/Voidcon_Fire_Resistance_Assessment.pdf" target="_blank" download="Download Image"><i class="fa fa-download small"></i></a>
                            <label>Fire Design Research by Dr. R Walls</label>
                        </div>
                    </div>
                </div>
            </div>



    </div>
</div>
</div>