
<style>
    p {
        text-align: justify;
    }
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        
                        <span><img src="~/r/images/US_Logo2.jpg" alt="" class="img-responsive"></span>
                        <h1>Web Application for Voidcon Formwork</h1>
                        <p>The internet brought forth many intricacies to access information and ease communication between vast distances. Use of web sites to obtain information exponentially grew since the start of the world wide web, but still many areas of the internet are not fully utilised (Gracia, Ph, Bayo, & Asce, 2013). A new approach to web services have sprouted in which a client, through the use of a web browser, can easily access services with complex mathematical abilities. These services are more formally known as web applications (Gracia et al., 2013). Web applications features the use of functions that are hosted on the user accessed web site, additional to available information on that site. The client can use these functions by initializing the request on the hosted site. The request is then sent to the server which is remotely accessed and performs the function requested by the user. The server responds back to the client and displays the return value of the function on the web site as usable information. This allow clients to access complex computational information from a remote site, which decreases the time spent on information gathering and mathematical computations. The information received will always be updated and requires no upkeep from the client’s side, making web applications a convenient approach. This framework of internet services needs only a basic machine that can connect to the internet since the high performance operations are processed by the server (Chen, Lin, & Chao, 2006). </p>
                        <p>In engineering, one of the main aspects of handling a project is communication. Albeit between client and consultant, consultant and contractor or firms and their employees. Any improvement in this aspect leads to an improvement in the quality of the project. Web applications may also consist of cloud based storage capabilities that allow clients to not only make use of the complex function provided, but also store the results in a SQL- database for record purposes. Web applications are the common denominator between the different entities involved in a project for reasons of having access to the same information, at any time with little room for human error to hinder the process. </p>
                        <p>This study focuses on the development of a web application that allows the client to access information in regard to the amount of additional rebar reinforcement needed for specific Voidcon Formwork products. The application performs the calculations for a range of spans and varying factored loads. A fire rating can also be applied to the calculations.</p>
                        <p>Chen, H., Lin, Y., & Chao, Y. (2006). Application of Web Services for Structural Engineering Systems. Journal of Computing in Civil Engineering, 20(3), 154–164. https://doi.org/10.1061/(ASCE)0887-3801(2006)20:3(154)  </p>
                        <p>Gracia, J., Ph, D., Bayo, E., & Asce, M. (2013). Integrated 3D Web Application for Structural Analysis Software as a Service, 27(2), 159–166. https://doi.org/10.1061/(ASCE)CP.1943-5487.0000217 </p>


                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
