
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var isBusy = false;
    function GetValues() {
        if (!isBusy) {
            isBusy = true;
            var Value = $("#cmbProfiles").val();

            var LoadValues = "";            

            var Inputs = $(".LoadVal");

            $.grep(Inputs, function (item, idx) {

                var LoadValue = $(item).val();
                if (LoadValue != "" && LoadValue != 0) {             
                    LoadValues += LoadValue + "|";
                }

            })

            var Html = '<div class="text-center"><i class="fa fa-4x fa-spin fa-spinner"></i></div>';
            $("#divCalculations").append(Html);
        
            var JsonO = {                
                    "Profile": Value,
                    "liveload": LoadValues 
            }           

            $.ajax({
                url: "/VoidConCalculations/_RebarRequirement",
                cache: false,
                data: JsonO,
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (html) {
                    isBusy = false;
                    $("#divCalculations").html(html);
                }
            });
        }
    }

    function AddButton() {

        var CloneHtml = $("#CloneHtml").clone();

        $("input", CloneHtml).val("");

        $("#AdditionalBtn").append(CloneHtml);
    }

    function ToggleImages(cont) {
        var Value = $(cont).val();

        if (Value == "VP50") {
            $("#VP50").removeClass("hidden");
            $("#VP115").addClass("hidden");
            $("#VP200").addClass("hidden");
        } else if (Value == "VP115") {
            $("#VP115").removeClass("hidden");
            $("#VP50").addClass("hidden");
            $("#VP200").addClass("hidden");
        } else {
            $("#VP200").removeClass("hidden");
            $("#VP50").addClass("hidden");
            $("#VP115").addClass("hidden");
        }


    }

</script>

<style>
    .max-width300 {
        max-width: 300px;
    }
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Rebar Requirement</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Inputs</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Profiles</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select onchange="ToggleImages(this)" id="cmbProfiles" class="form-control max-width300">
                                        <option value="VP50">VP50</option>
                                        <option value="VP115">VP115</option>
                                        <option value="VP200">VP200</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group ">
                                <img id="VP50" src="~/r/images/Profile_Image.jpg" alt="~/r." class="img-circle center-block">
                                <img id="VP115" src="~/r/images/prod-1.jpg" alt="~/r." class="img-circle hidden center-block">
                                <img id="VP200" src="~/r/images/mastercard.png" alt="~/r." class="img-circle hidden center-block">
                            </div>

                            <div id="CloneHtml" class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Live Load
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" class="form-control col-md-7 col-xs-12 max-width300 LoadVal">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Live Load
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" class="form-control col-md-7 col-xs-12 max-width300 LoadVal">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Live Load
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" class="form-control col-md-7 col-xs-12 max-width300 LoadVal">
                                </div>
                            </div>

                            <div id="AdditionalBtn">

                            </div>

                            <div class="form-group">
                                <div class="text-center">
                                    <button onclick="AddButton()" type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>

                            <div id="divCalculations" class="form-group">

                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="text-center">
                                        <button type="button" onclick="GetValues()" class="btn btn-success">Calculate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



