
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/r/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/r/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/r/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/r/vendors/animate/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/r/build/css/custom.min.css" rel="stylesheet">

    <style>
        .error-input {
            border: 1px solid #CE5454 !important;
        }
    </style>
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div id="login" class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Log in</a>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Voidcon Analysis</h1>
                                <p>©2017 All Rights Reserved. Voidcon Analysis is a product of the Voidcon group. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input id="txtRegFirstName" type="text" class="form-control " placeholder="First Name" required="" />
                        </div>
						<div>
							<input id="txtRegLastName" type="text" class="form-control " placeholder="Last Name" required="" />
						</div>
                        <div>
                            <input id="txtRegEmail" type="email" class="form-control " placeholder="Email" required="" onblur="CheckEmail()"/>
                        </div>
                        <div>
                            <input id="txtRegPassword" type="password" class="form-control " placeholder="Password" required="" />
                        </div>
						<div>
							<input id="txtRegConfirmPassword" type="password" class="form-control " placeholder="Confirm Password" required="" />
						</div>
                        <div>
                            <a class="btn btn-default submit" href="javascript:Register();" >Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Voidcon Analysis</h1>
                                <p>©2017 All Rights Reserved. Voidcon Analysis is a product of the Voidcon group. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <script src="~/r/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/r/index.js"></script>

</body>
</html>
